h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2rem;
}