ion-list {
  margin-top: 20px;
}

ion-item {
  margin-bottom: 10px;
}

ion-img {
  margin-top: 1rem;
  width: 15rem;
  height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 10px;
}

h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

ion-item {
  margin-top: 1rem;
}